In [38]:
%env CLASSPATH = nzjdbc3.jar

env: CLASSPATH=nzjdbc3.jar

In [48]:
import warnings
warnings.filterwarnings('ignore')
from nzpyida import IdaDataBase, IdaDataFrame
import numpy as np
from sklearn.preprocessing import LabelEncoder

#### Connecting to the database server

In [50]:
nzpy_dsn ={
        "database":"housing",
         "port" :5480,
        "host" : "xxx",
        "securityLevel":3,
        "logLevel":0
       
        }

In [51]:
idadb = IdaDataBase(nzpy_dsn, uid="admin", pwd="password")

In [52]:
idadf = IdaDataFrame(idadb,"HOUSEPRICE")

In [53]:
idadf.head()

,ID,URL,REGION,REGION_URL,PRICE,TYPE,SQFEET,BEDS,BATHS,CATS_ALLOWED,DOGS_ALLOWED,SMOKING_ALLOWED,WHEELCHAIR_ACCESS,ELECTRIC_VEHICLE_CHARGE,COMES_FURNISHED,LAUNDRY_OPTIONS,PARKING_OPTIONS,IMAGE_URL,LAT,LONG
0,7003808130,https://tallahassee.craigslist.org/apa/d/talla...,tallahassee,https://tallahassee.craigslist.org,799,apartment,954,2.0,2.0,1,1,1,0,0,0,w/d hookups,,https://images.craigslist.org/00t0t_6oeC2Bw3vr...,30.4195,-84.2349
1,7004010416,https://huntsville.craigslist.org/apa/d/madiso...,huntsville / decatur,https://huntsville.craigslist.org,1005,apartment,1117,2.0,2.0,1,1,1,0,0,0,,off-street parking,https://images.craigslist.org/00D0D_2hwfwPoZGN...,34.6924,-86.7225
2,7004032234,https://sierravista.craigslist.org/apa/d/avail...,sierra vista,https://sierravista.craigslist.org,750,apartment,763,2.0,2.0,1,1,1,0,0,0,laundry on site,carport,https://images.craigslist.org/00808_dCLIVNJhGV...,31.5395,-110.2990
3,7004041631,https://anchorage.craigslist.org/apa/d/anchora...,anchorage / mat-su,https://anchorage.craigslist.org,1000,apartment,800,1.0,0.0,0,1,1,0,0,0,laundry in bldg,carport,https://images.craigslist.org/00G0G_jnfx9cLqiU...,61.2234,-149.7820
4,7004059925,https://mobile.craigslist.org/apa/d/mobile-new...,mobile,https://mobile.craigslist.org,850,house,1500,3.0,1.0,0,0,0,0,0,0,w/d in unit,carport,https://images.craigslist.org/00H0H_4FKkF60sRB...,30.6311,-88.1588

In [54]:
idadf.describe()

,ID,PRICE,SQFEET,BEDS,BATHS,CATS_ALLOWED,DOGS_ALLOWED,SMOKING_ALLOWED,WHEELCHAIR_ACCESS,ELECTRIC_VEHICLE_CHARGE,COMES_FURNISHED,LAT,LONG
count,2.651660e+05,2.651660e+05,2.651660e+05,265166.000000,265166.000000,265166.000000,265166.000000,265166.000000,265166.000000,265166.000000,265166.000000,263747.000000,263747.000000
mean,7.040888e+09,1.833844e+03,1.093710e+03,1.912477,1.483488,0.716823,0.696549,0.733944,0.078754,0.014361,0.048596,37.208717,-92.399277
std,8.779160e+06,8.338960e+04,2.306992e+04,3.692052,0.630214,0.450543,0.459749,0.441895,0.269355,0.118975,0.215023,5.659848,17.370943
min,7.003808e+09,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-43.533300,-163.894000
25%,7.035963e+09,8.170000e+02,7.520000e+02,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,33.508500,-104.704000
50%,7.043108e+09,1.060000e+03,9.500000e+02,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,37.984900,-86.479300
75%,7.048362e+09,1.450000e+03,1.156000e+03,2.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,41.169900,-81.284600
max,7.051263e+09,2.170191e+07,8.388607e+06,1100.000000,75.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,102.036000,172.633000

In [55]:
idadf.count()

ID                         265166
URL                        265166
REGION                     265166
REGION_URL                 265166
PRICE                      265166
TYPE                       265166
SQFEET                     265166
BEDS                       265166
BATHS                      265166
CATS_ALLOWED               265166
DOGS_ALLOWED               265166
SMOKING_ALLOWED            265166
WHEELCHAIR_ACCESS          265166
ELECTRIC_VEHICLE_CHARGE    265166
COMES_FURNISHED            265166
LAUNDRY_OPTIONS            265166
PARKING_OPTIONS            265166
IMAGE_URL                  265166
LAT                        263747
LONG                       263747
dtype: int64

In [56]:
idadf.dtypes

                                  TYPENAME
COLNAME
ID                                  BIGINT
URL                      CHARACTER VARYING
REGION                   CHARACTER VARYING
REGION_URL               CHARACTER VARYING
PRICE                              INTEGER
TYPE                     CHARACTER VARYING
SQFEET                             INTEGER
BEDS                      DOUBLE PRECISION
BATHS                     DOUBLE PRECISION
CATS_ALLOWED                       INTEGER
DOGS_ALLOWED                       INTEGER
SMOKING_ALLOWED                    INTEGER
WHEELCHAIR_ACCESS                  INTEGER
ELECTRIC_VEHICLE_CHARGE            INTEGER
COMES_FURNISHED                    INTEGER
LAUNDRY_OPTIONS          CHARACTER VARYING
PARKING_OPTIONS          CHARACTER VARYING
IMAGE_URL                CHARACTER VARYING
LAT                       DOUBLE PRECISION
LONG                      DOUBLE PRECISION

In [57]:
idadf.shape

(265166, 20)

## Pre-processing of the data

In [58]:
idadf = idadf.as_dataframe()

In [59]:
df = idadf.copy()

## We are ignoring columns which have text entries as the values as these are not useful for creating the model.
### However , we are not dropping the type, laundry_options and parking_options column as there are actually numerical columns which are masked as categorical.

In [60]:
df = df.drop(axis =1 , columns = ['URL','REGION_URL','IMAGE_URL'])
display(df)

,ID,REGION,PRICE,TYPE,SQFEET,BEDS,BATHS,CATS_ALLOWED,DOGS_ALLOWED,SMOKING_ALLOWED,WHEELCHAIR_ACCESS,ELECTRIC_VEHICLE_CHARGE,COMES_FURNISHED,LAUNDRY_OPTIONS,PARKING_OPTIONS,LAT,LONG
0,7039061606,birmingham,1195,apartment,1908,3.0,2.0,1,1,1,0,0,0,laundry on site,street parking,33.4226,-86.7065
1,7041970863,birmingham,1120,apartment,1319,3.0,2.0,1,1,1,0,0,0,laundry on site,off-street parking,33.3755,-86.8045
2,7041966914,birmingham,825,apartment,1133,1.0,1.5,1,1,1,0,0,0,laundry on site,street parking,33.4226,-86.7065
3,7041966936,birmingham,800,apartment,927,1.0,1.0,1,1,1,0,0,0,laundry on site,street parking,33.4226,-86.7065
4,7041966888,birmingham,785,apartment,1047,2.0,1.0,1,1,1,0,0,0,laundry on site,street parking,33.4226,-86.7065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265161,7050851033,columbus,0,apartment,1061,2.0,2.0,1,1,1,0,0,0,w/d in unit,detached garage,40.0495,-83.0669
265162,7050887997,columbus,1069,apartment,1020,2.0,1.5,1,1,1,0,0,0,w/d hookups,detached garage,39.8408,-83.0804
265163,7044801015,columbus,1507,apartment,1660,2.0,1.5,1,1,1,0,0,0,,,40.0564,-83.0417
265164,7050885800,columbus,1001,apartment,1220,3.0,1.5,1,1,1,0,0,0,w/d hookups,off-street parking,40.0451,-82.4564
265165,7050884586,columbus,1164,townhouse,1300,2.0,2.5,1,1,0,0,0,0,w/d hookups,attached garage,NaN,NaN

In [61]:
df.isnull().sum()

ID                            0
REGION                        0
PRICE                         0
TYPE                          0
SQFEET                        0
BEDS                          0
BATHS                         0
CATS_ALLOWED                  0
DOGS_ALLOWED                  0
SMOKING_ALLOWED               0
WHEELCHAIR_ACCESS             0
ELECTRIC_VEHICLE_CHARGE       0
COMES_FURNISHED               0
LAUNDRY_OPTIONS               0
PARKING_OPTIONS               0
LAT                        1419
LONG                       1419
dtype: int64

In [62]:
#Replace the null values in the columns LAT and LONG with mode
null_columns = ['LAT','LONG']

In [63]:
def calculate_mean_and_median(column):
    col_mean = np.mean(column)
    col_median = np.median(column)
    return col_mean,col_median

In [64]:
for i in null_columns:
    col_mean,col_median = calculate_mean_and_median(df[i])
    df[i] = df[i].fillna(col_mean)

In [65]:
df.isnull().sum()

ID                         0
REGION                     0
PRICE                      0
TYPE                       0
SQFEET                     0
BEDS                       0
BATHS                      0
CATS_ALLOWED               0
DOGS_ALLOWED               0
SMOKING_ALLOWED            0
WHEELCHAIR_ACCESS          0
ELECTRIC_VEHICLE_CHARGE    0
COMES_FURNISHED            0
LAUNDRY_OPTIONS            0
PARKING_OPTIONS            0
LAT                        0
LONG                       0
dtype: int64

In [66]:
# ## One more issue is that in categorical columns such as LAUNDRY_OPTIONS and PARKING_OPTIONS , there is an
# ## empty string present, we will drop that


df['LAUNDRY_OPTIONS'].value_counts()
df.loc[df['LAUNDRY_OPTIONS']=='','LAUNDRY_OPTIONS'] = 'w/d in unit'

In [67]:
df['PARKING_OPTIONS'].value_counts()
df.loc[df['PARKING_OPTIONS']=='','PARKING_OPTIONS'] = 'off-street parking'

display(df)

,ID,REGION,PRICE,TYPE,SQFEET,BEDS,BATHS,CATS_ALLOWED,DOGS_ALLOWED,SMOKING_ALLOWED,WHEELCHAIR_ACCESS,ELECTRIC_VEHICLE_CHARGE,COMES_FURNISHED,LAUNDRY_OPTIONS,PARKING_OPTIONS,LAT,LONG
0,7039061606,birmingham,1195,apartment,1908,3.0,2.0,1,1,1,0,0,0,laundry on site,street parking,33.422600,-86.706500
1,7041970863,birmingham,1120,apartment,1319,3.0,2.0,1,1,1,0,0,0,laundry on site,off-street parking,33.375500,-86.804500
2,7041966914,birmingham,825,apartment,1133,1.0,1.5,1,1,1,0,0,0,laundry on site,street parking,33.422600,-86.706500
3,7041966936,birmingham,800,apartment,927,1.0,1.0,1,1,1,0,0,0,laundry on site,street parking,33.422600,-86.706500
4,7041966888,birmingham,785,apartment,1047,2.0,1.0,1,1,1,0,0,0,laundry on site,street parking,33.422600,-86.706500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265161,7050851033,columbus,0,apartment,1061,2.0,2.0,1,1,1,0,0,0,w/d in unit,detached garage,40.049500,-83.066900
265162,7050887997,columbus,1069,apartment,1020,2.0,1.5,1,1,1,0,0,0,w/d hookups,detached garage,39.840800,-83.080400
265163,7044801015,columbus,1507,apartment,1660,2.0,1.5,1,1,1,0,0,0,w/d in unit,off-street parking,40.056400,-83.041700
265164,7050885800,columbus,1001,apartment,1220,3.0,1.5,1,1,1,0,0,0,w/d hookups,off-street parking,40.045100,-82.456400
265165,7050884586,columbus,1164,townhouse,1300,2.0,2.5,1,1,0,0,0,0,w/d hookups,attached garage,37.208717,-92.399277

In [68]:
#Outliers removal column

def outliers_removal(col):
    column = df[col]
    first = column.quantile(0.25)
    third = column.quantile(0.75)
    iqr = third - first
    upper_limit = third + 1.5 * iqr
    lower_limit = first - 1.5 * iqr
    column.mask(column > upper_limit, upper_limit, inplace=True)
    column.mask(column < lower_limit, lower_limit, inplace=True)

In [69]:
outliers_removal('SQFEET')
outliers_removal('PRICE')

In [70]:
df['PRICE'].max()

2399.5

In [71]:
# Taking the target variable out and performing analysis.
y = df['PRICE']
y

0         1195.0
1         1120.0
2          825.0
3          800.0
4          785.0
           ...
265161       0.0
265162    1069.0
265163    1507.0
265164    1001.0
265165    1164.0
Name: PRICE, Length: 265166, dtype: float64

## Label encoding

In [40]:
## Label Encoding , we are doing hot encoding
encoder={}
categorical_columns_list = []
for i in df.columns:
    if df[i].dtype == 'object':
        categorical_columns_list.append(i)
        encoder[i] = LabelEncoder()
        encoder[i].fit(list(df[i].values))
        df[i] = encoder[i].transform(list(df[i].values))

In [41]:
#Splitting into training and testing dataset.
from sklearn.model_selection import train_test_split
y = df['PRICE']
X = df.drop(columns=['PRICE','ID'],axis=1)

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.20, random_state=100)

display(X_train)

,REGION,TYPE,SQFEET,BEDS,BATHS,CATS_ALLOWED,DOGS_ALLOWED,SMOKING_ALLOWED,WHEELCHAIR_ACCESS,ELECTRIC_VEHICLE_CHARGE,COMES_FURNISHED,LAUNDRY_OPTIONS,PARKING_OPTIONS,LAT,LONG
209630,19,4,1018,2.0,1.0,0,0,0,0,0,0,0,0,45.8243,-108.4890
260911,47,0,800,2.0,1.0,1,1,1,0,0,0,1,1,39.1432,-84.5217
92319,227,0,843,1.0,1.0,1,1,1,0,0,0,3,4,27.2427,-82.4751
172217,54,0,1378,3.0,2.0,0,0,1,0,0,0,4,4,36.7352,-76.2384
250121,283,0,900,2.0,1.0,0,0,0,0,0,0,1,4,43.7908,-75.4962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212912,42,0,1260,3.0,2.5,1,1,1,0,0,0,3,4,35.2376,-81.1232
65615,174,0,725,1.0,1.0,1,1,1,0,0,0,0,4,41.5169,-72.7936
253799,173,0,600,0.0,1.0,1,0,1,0,0,0,2,4,43.3055,-70.9807
210755,164,0,639,1.0,1.0,0,0,1,0,0,0,1,0,46.8781,-114.0190
56088,50,0,1300,3.0,1.0,0,0,0,0,0,1,4,4,38.8477,-104.8670

In [45]:
#Gradient Boosting Regression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn import metrics

gbr = GradientBoostingRegressor()
gbr.fit(X_train, y_train)


y_pred_gbr= gbr.predict(X_test)
print(y_pred_gbr)

r2_score = gbr.score(X_test,y_test)
print(r2_score)

[ 933.24663352 1451.14552819 1183.3608606  ... 1108.52229532 1213.62672116
  769.76324678]
0.6774329371108495

##### Get all predicted records

In [47]:
idadb.ida_query('select * from properties limit 10;')

,ID,REGION,TYPE,SQFEET,BEDS,BATHS,CATS_ALLOWED,DOGS_ALLOWED,SMOKING_ALLOWED,WHEELCHAIR_ACCESS,ELECTRIC_VEHICLE_CHARGE,COMES_FURNISHED,LAUNDRY_OPTIONS,PARKING_OPTIONS,lat,lon,PRICE_PREDICTED,accuracy
0,7049892659,SF bay area,apartment,1000.0,2.0,2.0,0,0,0,0,0,0,laundry on site,carport,37.846298,-122.029999,2644.044044,0.807589
1,7041374113,SF bay area,apartment,30.0,2.0,1.0,1,1,0,0,0,0,laundry in bldg,carport,38.010899,-122.294998,2639.965299,0.807589
2,7050080878,SF bay area,condo,1301.0,2.0,2.0,1,1,0,0,0,0,w/d in unit,detached garage,37.632702,-122.053001,2955.265777,0.807589
3,7049979396,SF bay area,apartment,652.0,1.0,1.0,0,0,0,0,0,0,w/d in unit,carport,37.561001,-122.327003,2931.144783,0.807589
4,7050008087,SF bay area,apartment,604.0,0.0,1.0,0,0,1,0,0,0,w/d in unit,off-street parking,37.862000,-122.268997,2414.795838,0.807589
5,7040325839,SF bay area,condo,722.0,1.0,1.0,0,0,0,0,0,0,w/d in unit,attached garage,37.789200,-122.424004,3737.997526,0.807589
6,7050015240,SF bay area,apartment,629.0,1.0,1.0,1,1,0,1,0,0,w/d in unit,carport,37.546299,-121.972000,2353.657662,0.807589
7,7050011023,SF bay area,apartment,800.0,2.0,2.0,1,1,0,0,0,0,laundry on site,carport,37.589500,-122.050003,2436.603264,0.807589
8,7050019748,SF bay area,apartment,657.0,1.0,1.0,1,1,0,0,0,0,laundry on site,carport,37.656200,-121.880997,1958.924665,0.807589
9,7050027942,SF bay area,apartment,725.0,1.0,1.0,1,1,0,0,0,0,w/d in unit,carport,37.337101,-121.950996,2654.740815,0.807589